@page "/Mqtt"
@rendermode InteractiveServer
<h3>Mqtt</h3>

<PageTitle>MQTT-Settings</PageTitle>

<MudGrid>
    <MudItem xs="3">
    </MudItem>
    <MudItem xs="6">
        <MudTextField  T="string" Variant="Variant.Outlined" ReadOnly="true" Label="Broker"></MudTextField>
    </MudItem>
    <MudItem xs="3">
    </MudItem>
</MudGrid>


    @code {
        
      
    
}